.container {
  width: 800px;
  margin-top: 100px;
  margin-left: calc(50% - 400px);
}

.left-column {
  float: left;
  width: 40%;
  padding: 40px;
  background-color: #6a2480;
  background-image: url(../img/dark_hill.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.main-title {
  width: 100%;
  color: white;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 250px;
}

.bottom-links {
  color: white;
}
.bottom-links > .link {
  color: white;
}

.right-column {
  float: left;
  width: 60%;
  padding: 60px;
  background-color: #fff;
}
.close {
}
