.container {
  position: relative;
  width: 800px;
  margin-top: 100px;
  margin-left: calc(50% - 400px);
  display: inline-block;
}

.left-column {
  width: 40%;
  padding: 40px;
  background-color: #6a2480;
  background-image: url(../img/dark_hill.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: absolute;
  bottom: 30px;
  top: 30px;
  left: 0px;
}

.main-title {
  width: 100%;
  color: white;
  font-size: 40px;
  font-weight: normal;
  /* margin-bottom: 250px; */
}

.bottom-links {
  color: white;
  position: absolute;
  left: 40px;
  bottom: 20px;
}
.bottom-links > .link {
  color: white;
}

.right-column {
  position: relative;
  float: right;
  width: 60%;
  padding: 60px;
  background-color: #fff;
}
.close {
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 54px;
  /* float: right;
  margin-top: -60px;
  margin-right: -60px; */

  position: absolute;
  top: 0px;
  right: 0px;
}
